<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @insurance_lead.first_name %>
</p>

<p>
  <strong>Last name f:</strong>
  <%= @insurance_lead.last_name_f %>
</p>

<p>
  <strong>Last name m:</strong>
  <%= @insurance_lead.last_name_m %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @insurance_lead.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @insurance_lead.email %>
</p>

<p>
  <strong>Insurance type:</strong>
  <%= @insurance_lead.insurance_type %>
</p>

<%= link_to 'Edit', edit_insurance_lead_path(@insurance_lead) %> |
<%= link_to 'Back', insurance_leads_path %>
