<p>Hola,</p>

<p>Se ha recibido una solicitud de Afiliación por medio de la aplicación movil de ACC, con la siguiente información:</p>
<p>Solicitante: <%= @lead.first_name + ' ' + @lead.last_name_f + ' ' + @lead.last_name_m%></p>
<p>Identificación: <%= @lead.document_type + @lead.document_id%></p>
<p>Email: <%= @lead.email%></p>
<p>Teléfono: <%= @lead.phone_number%></p>
<p>Placas: <%= @lead.plate_number%></p>
<br/>
<p>Hacer el registro correspondiente por medio de ticket y su gestión</p>
<p> Aplicativo móvil ACC </p>
