<p>Hola <%= @user.first_name %>,</p>

<p><%= @passenger.first_name + ' ' + @passenger.last_name%> ya tiene un lugar apartado en tu viaje de <%= @ride.origin %> a <%= @ride.destination %> el <%= @ride.ride_when %></p>
<p>Tienes disponibles cupos.</p>

<p>Touring & Automóvil Club de Colombia </p>
