<h1>Listing agreements</h1>

<table>
  <thead>
    <tr>
      <th>Agreement no</th>
      <th>Name</th>
      <th>Logo</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.agreement_no %></td>
        <td><%= agreement.name %></td>
        <td><%= agreement.logo %></td>
        <td><%= agreement.active %></td>
        <td><%= link_to 'Show', agreement %></td>
        <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
        <td><%= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agreement', new_agreement_path %>
