<p id="notice"><%= notice %></p>

<p>
  <strong>Agreement no:</strong>
  <%= @agreement.agreement_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @agreement.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @agreement.logo %>
</p>

<p>
  <strong>Active:</strong>
  <%= @agreement.active %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
