<%= form_for(@roadside_assistance) do |f| %>
  <% if @roadside_assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roadside_assistance.errors.count, "error") %> prohibited this roadside_assistance from being saved:</h2>

      <ul>
      <% @roadside_assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :plate_number %><br>
    <%= f.text_field :plate_number %>
  </div>
  <div class="field">
    <%= f.label :assistance_type %><br>
    <%= f.text_field :assistance_type %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :is_guest %><br>
    <%= f.check_box :is_guest %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
